setuptools==5.5.1
alembic==0.8.4
bcrypt==2.0.0
cffi==1.5.2
Flask==0.10.1
Flask-Bcrypt==0.7.1
Flask-Login==0.3.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.3
MarkupSafe==0.23
pycparser==2.14
python-editor==0.5
six==1.10.0
SQLAlchemy==1.0.11
Werkzeug==0.11.3
wheel==0.29.0
WTForms==2.1
twilio==5.3.0
boto==2.39.0
