:local(.sortColumn) {
    width: 77px;
    text-align: center;
}

:local(.nameColumn) {
    padding-top: 14px !important;
}

:local(.service) {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}
