:local(.userBar) {
    background: white;

    .container {
        background: #ecf0f1;
        color: black;
        padding: 7px;
        font-size: 13px;
        border-bottom: 1px solid #22313F;
        border-left: 1px solid #22313F;
        border-right: 1px solid #22313F;
        border-radius: 0 0 3px 3px;
    }
}