<html lang="en">
<head>
  <title>15th Night</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/base.css') }}", rel="stylesheet", type="text/css">
  {% block head %}

  {% endblock %}
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><b>15</b>th <b>Night</b></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
          <li>
            <a href="#">{{ current_user.email }}</a>
          </li>
           <li><a href="/dashboard">Dashboard</a></li>
        {% endif %}
        <li><a href="/about">About</a></li>
        {% if current_user.is_authenticated %}
          <li><a href="/logout">Logout</a></li>
        {% else %}
          <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


<div class="{% block body_class %}container-fluid{% endblock %}">
  <!-- messages -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <strong>Title</strong> --> {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  {% block body %}


  {% endblock %}

</div>
</body>
</html>
