{% extends "base.html" %}
{% from "render_form.html" import render_form %}

{% block body %}
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active hide"><a href="#welcome" aria-controls="welcome" role="tab" data-toggle="tab">Welcome</a></li>
        <li role="presentation"><a href="#register" aria-controls="register" role="tab" data-toggle="tab">Register User</a></li>
        <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">See Alert History</a></li>
        <li role="presentation"><a href="#manage-users" aria-controls="manage-users" role="tab" data-toggle="tab">Manager Users</a></li>
    </ul>

    <!-- Tab panes -->
    <div role="tabpanel" class="tab-pane fade active in text-center" id="welcome">
        <h2>Welcome back to the 15th night app.</h2>
        <p>
            Here you can manage users and see all the alert history along with the responses.
        </p>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="register">

            <div class="text-center row">
                <div class="col-sm-offset-3 col-sm-6">
                    <h1>Register a User ladhfkljasdhflkjas</h1>
                    <form class="form-signin" role="form" method="post" action="">
                        {{ form.csrf_token }}
                        {{ render_form(form) }}
                        <button class="btn btn-sm btn-success" type="submit">Register User</button>
                    </form>
                </div>
            </div>

    </div>

    <div role="tabpanel" class="tab-pane fade" id="history">history</div>
    <div role="tabpanel" class="tab-pane fade" id="manage-users">manage-users</div>
</div>
{% endblock %}