{% extends "base.html" %}
{% from "render_form.html" import render_form %}

{% block head %}
    {{ super() }}
    <style>
        #sent_alerts {
            display: none;
        }

        #clothes_row .col-lg-10 input,
        #shelter_row .col-lg-10 input,
        #food_row .col-lg-10 input,
        #other_row .col-lg-10 input {
            width: auto;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="text-center row page">
        <div id="sent_alerts" class="col-sm-offset-2 col-sm-8">
            <div class="text-right">
                <button id="send_alert" class="btn btn-success">Create New Alert</button>
            </div>
            <div>
                <h1>Previously Sent Alerts</h1>
                <div>
                    <table class="table">
                        <head>
                            <tr>
                                <th>Sent</th>
                                <th>Description</th>
                                <th>Gender</th>
                                <th>Age</th>
                                <th>Needs</th>
                                <th>Responses</th>
                            </tr>
                        </head>
                        <body>
                            {% for alert in current_user.get_alerts() %}
                                <tr>
                                    <td>
                                        {{ alert.created_at.strftime('%m/%d/%y %I:%M%p') }}
                                    </td>
                                    <td>{{ alert.description }}</td>
                                    <td>{{ alert.gender }}</td>
                                    <td>{{ alert.age }}</td>
                                    <td>{{ alert.get_needs() }}</td>
                                    <td>{{ alert.responses|length }}</td>
                                </tr>
                            {% endfor %}
                        </body>
                    </table>
                </div>
            </div>
        </div>
        <div id="new_alert" class="col-sm-offset-3 col-sm-6">
            <div class="text-right">
                <button id="show_sent_alerts" class="btn btn-primary">Previously Sent Alerts</button>
            </div>
            <h1>Send an Alert</h1>
            <form class="form-signin" role="form" method="post" action="">
                {{ form.csrf_token }}
                {{ render_form(form) }}
                <br/><br/>
                <button class="btn btn-success" type="submit">Send Alert</button>
            </form>
        </div>
    </div>
    <script>
        $('#send_alert').click(function() {
            $('#sent_alerts').hide();
            $('#new_alert').show();
        });
        $('#show_sent_alerts').click(function() {
            $('#new_alert').hide();
            $('#sent_alerts').show();
        })
    </script>
{% endblock %}