:local(.resolveNeedPage) {

    .response {
        .message {
            padding: 13px 26px 0;
        }

        .pledge {
            border: 1px solid #ccc;
            border-radius: 3px;
            padding-bottom: 10px;
            padding-top: 10px;
            margin: 15px 0;

            &.selected {
                background-color: #ffff99;
            }

            button {
                display: block;
                width: 80%;
                margin: 0 auto;
            }
        }

    }

    :local(.submitButton) {
        margin: 35px 0;
    }
}
