:local(.viewResponsesPage) {
    .progress {
        position: relative;
        height: 40px;
        margin-top: 20px;

        .percent {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 1;
            font-weight: bold;
            padding: 9px;
            font-size: 16px;
        }
    }

    .need {
        margin: 60px 0;

        .row {
            display: flex;
            align-items: center;
        }

        h3 {
            margin-top: 0px;
        }

        &:last-child {
            border-bottom: none;
        }

        .resolved {
            color: green;
        }

        .unresolved {
            color: red;
        }

        .timestamp {
            color: #666;
        }
    }
}
