:local(.resolveProgress) {
    border-radius: 33px;
    border: 1px solid #000;
    background: #ddd;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 15px 0 15px;
}

:local(.progressLine) {
    background-color: green;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

:local(.progressPercent) {
    position: relative;
    z-index: 1;
    font-weight: bold;
    padding: 5px;
    font-size: 18px;
}

:local(.need) {
    border-bottom: 1px solid #aaa;
    padding-bottom: 15px;
    margin-top: -98px;
    padding-top: 98px;
}

:local(.need:last-child) {
    border-bottom: none;
}

:local(.resolveHistoryStatus) {
    display: inline-block;
    width: 100px;
    text-align: right;
}

:local(.unresolved) {
    color: red;
}

:local(.resolved) {
    color: green;
}