.content .btn {
  padding: 10px 20px;
  background-color: #22313F;
  color: #FFF;
  border-radius: 0;
  transition: .2s;
  margin-top: 10px;
  width: 250px;
  letter-spacing: 3px;
  border-style: thin;
}

/* On hover, the color of .btn will transition to white with black text */
.content .btn:hover, .btn:focus {
  border: 1px solid #22313F;
  background-color: #fff;
  color: #000;
}

.jumbotron {
  background-color: #22313F;
  color: #ffffff;
  padding: 100px 25px;
}
.bg-grey {
  background-color: #f6f6f6;
}

.container-fluid {
  padding: 40px 50px;
}

.content .btn {
  margin-top: 10px;
}

.logo {
  font-size: 200px;
}

@media screen and (max-width: 760px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.logo-small {
  color: #f4511e;
  font-size: 50px;
}

.logo {
  color: #f4511e;
  font-size: 200px;
}

.navbar {
  margin-bottom: 0;
  background-color: #22313F;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #22313F !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.error {
  padding: 5px 0 15px;
  color: red;
}

body {
  padding-top: 50px;
}

.control-label {
  padding-top: 7px;
  text-align: right;
}

input[type="checkbox"], input[type="radio"] {
  margin: 0;
}
