:local(.alertInfo) {
    text-align: left;

    .need-list {
        display: inline-block;
        vertical-align: top;

        .need {
            margin-bottom: 10px;

            &:last-child {
                margin: 0;
            }
        }
    }
}
:local(.alertInfoLabel) {
    width: 120px;
    text-align: right;
    display: inline-block;
    margin-right: 13px;
}
