:local(.provisionLabel) {
    display: inline-block;
    width: 77px;
    margin-right: 10px;
    text-align: right;
    font-weight: bold;
}

:local(.provisionField) {
    display: inline-block;
    vertical-align: top;
}

:local(.provision) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

:local(.provision:last-child) {
    border-bottom: none;
    margin: 0;
    padding: 0;
}
