{% extends "base.html" %}
{% block body_class %}{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/custom.css">
{% endblock %}

{% block body %}
<img src="https://cdn.evbuc.com/eventlogos/136736891/201512taohackforacause2160x1080web.png" alt="Hack for a Cause" style="width:100%">

<div class="spacing"></div>

<div id="band" class="container text-center">
  <h3>OUR MISSION</h3>
  <p><em>Giving back to the Community</em></p>
  <p>The five-man team, <a href="http://xkcd.com/327/">Bobby Drop Tables</a> set out to support the 15th Night Network to help get at-risk-youth off the street. Having strong and trackable communication between providers, advocates, and adminisitrators is absolutely crucial for the success of their operation. This application enables good by offering an easy to use and extremely powerful interface for community interaction. Learn more about the team below.</p>
  <br>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Garrett Seward</strong></p><br>
      <a href="#demo1" data-toggle="collapse">
        <img src="https://avatars1.githubusercontent.com/u/2507359?v=3&s=400" class="img-circle person" alt="Garrett Seward" width="255" height="255">
      </a>
      <div id="demo1" class="collapse">
        <p>Industry Professional</p>
        <p>https://github.com/spectralsun</p>
        <p>http://spectralsun.com/</p>
      </div>
    </div>
     <div class="col-sm-4">
      <p class="text-center"><strong>Scott Lively</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="https://avatars3.githubusercontent.com/u/3362482?v=3&s=400" class="img-circle person" alt="Scott Lively" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p>Industry Professional</p>
        <p>https://github.com/slively</p>
        <p>https://www.grubhub.com/</p>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Justin Noah</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="https://avatars1.githubusercontent.com/u/443413?v=3&s=400" class="img-circle person" alt="Justin Noah" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
        <p>Industry Proffesional</p>
        <p>https://github.com/justinnoah</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Joseph Livni</strong></p><br>
      <a href="#demo4" data-toggle="collapse">
        <img src="https://avatars0.githubusercontent.com/u/15317353?v=3&s=400" class="img-circle person" alt="Joseph Livni" width="255" height="255">
      </a>
      <div id="demo4" class="collapse">
        <p>UO Computer Science Student</p>
        <p>https://github.com/Lebonesco</p>
      </div>
    </div>
     <div class="col-sm-4">
      <p class="text-center"><strong>Edward Szczepanski</strong></p><br>
      <a href="#demo5" data-toggle="collapse">
        <img src="https://avatars3.githubusercontent.com/u/5415430?v=3&s=400" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo5" class="collapse">
        <p>UO Computer Science Student</p>
        <p>https://github.com/edwardszczepanski</p>
        <p>http://edwardszczepanski.com</p>
      </div>
    </div>
  </div>

  
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Tickets</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Tickets, $23 per person</label>
              <input type="number" class="form-control" id="psw" placeholder="How many?">
            </div>
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email">
            </div>
              <button type="submit" class="btn btn-block">Pay 
                <span class="glyphicon glyphicon-ok"></span>
              </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
          </button>
          <p>Need <a href="#">help?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container2" style="background-color:#f6f6f6">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <h2 style="color:#22313F">Tell us what you think</h2>
      <form action="http://15thnight.help/contact">
        <button style="background-color:#22313F"class="btn btn-default btn-lg" >Contact</button>
      </form>
      
    </div>
    <div class="col-sm-5">
      <span style="color:#22313F" class="glyphicon glyphicon-globe logo"></span>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Copyright © 2016 <a href="http://xkcd.com/327/">Bobby Drop Tables</a></p>
  <script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $("footer a[href='#myPage']").on('click', function(event) {
  event.preventDefault();

  var hash = this.hash;

  $('html, body').animate({
    scrollTop: $(hash).offset().top
  }, 900, function(){

    window.location.hash = hash;
    });
  });
})
</script>
</footer>

{% endblock %}