{% extends "base.html" %}

{% block body %}


<div class="container">
<div class="col-md-2"></div>
<div class="col-md-8">
	<div class="info">
  <h1 class="text-center">Contact</h1>
  <p class="text-center"><em>We are dedicated to...</em></p>
      <br>
      <p><span class="glyphicon glyphicon-map-marker"></span>Chicago, US</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p> 
    </div> <!-- end of info-->
    <div class="content">
   
      <div class="row">
        <div class="col-sm-6 form-group">
        <form class="form-signin" role="form" method="post" action="">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
    </form>
      </div> 
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>





{% endblock %}