{% extends "base.html" %}

{% block body %}

{% if session.logged_in %}
<h1>You are logged in!</h1>
{% endif %}
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Create Alert</a></li>
    <li role="presentation"><a href="#wdev" aria-controls="profile" role="tab" data-toggle="tab">Track Alerts</a></li>
    <li role="presentation"><a href="#dan" aria-controls="messages" role="tab" data-toggle="tab">COD is Best</a></li>
   
  </ul>

  <!-- Tab panes -->
 <div class="tab-content">

  <div role="tabpanel" class="tab-pane fade in active" id="basics">
 <p> alert tracking can go here</p><div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  
  
  <p>
  {{ form.description(placeholder="description") }} 
    <span class="error">
      {% if form.description.errors %}
        {% for error in form.description.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.food(placeholder="food") }} Food
    <span class="error">
      {% if form.food.errors %}
        {% for error in form.food.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  {{ form.shelter(placeholder="shelter") }} Shelter
    <span class="error">
      {% if form.shelter.errors %}
        {% for error in form.shelter.errors %}  
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.clothes(placeholder="clothes") }} Clothes
    <span class="error">
      {% if form.clothes.errors %}
        {% for error in form.clothes.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.other(placeholder="other") }} Other
    <span class="error">
      {% if form.other.errors %}
        {% for error in form.other.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-sm btn-success" type="submit">Register!</button>
</form>


</div>
<div class="col-sm-4"></div>
</div>



</div> <!-- end of first tab -->



  <div role="tabpanel" class="tab-pane fade" id="wdev">
    <h1>Track Alerts</h1>
    
    {% for alert in alerts %}

      <p>Description: {{ alert.description }} </p>
      {% if alert.shelter == '1' %}
        <h3>Shelter</h3> <label class="checkbox-inline">
        <input type="checkbox" name="{{ alert.id }}" value="shelter"> 1
        </label>
        {% endif %}
        {% if alert.clothes == '1' %}
        <h3>Clothes</h3>
        {% endif %}
        {% if alert.food == '1' %}
        <h3>Food</h3>
        {% endif %}
        {% if alert.other == '1' %}
        <h3>Other</h3>
        {% endif %}








    {% endfor %}
  </div>
  <div role="tabpanel" class="tab-pane fade" id="dan">data analysis</div>
</div>

</div>



{% endblock %}