{% extends "base.html" %}
{% from "render_form.html" import render_form %}

{% block body %}
    <div class="text-center row">
        <div class="col-sm-offset-3 col-sm-6">
            <h2>Alert</h2>
            <h3>Date/Time: {{ alert.created_at.strftime('%m/%d/%y %I:%M%p') }}</h3>
            <h3>Age: {{ alert.age }}</h3>
            <h3>Sex: {{ alert.gender }}</h3>
            <h3>Message: {{ alert.description }}</h3>
            <br/>
            <h4>If you want to help, put a message and hit submit</h4>
            <form class="form-signin" role="form" method="post" action="">
                {{ form.csrf_token }}
                {{ render_form(form) }}
                <br/>
                <div class="row">
                    <button class="btn btn-lg btn-success" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}